body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 5rem;
  background-color: #010914;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wallet {
  display: flex;
  align-items: center;
}

